@font-face {
    font-family: 'ActivitiModeler';
    src: url('../fonts/activiti-admin-webfont.eot');
    src: url('../fonts/activiti-admin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/activiti-admin-webfont.woff') format('woff'),
         url('../fonts/activiti-admin-webfont.ttf') format('truetype'),
         url('../fonts/activiti-admin-webfont.svg#activitimodelerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.x-panel-header-new {
    background-image: none !important;
    background-color: #fff !important;
	padding: 20px 20px 10px 20px!important;
}

.x-body-new {
    color: #404040;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    background: #e6e6e6;
}
